* {
  box-sizing: border-box;
}
html {
  background-color: lightgray;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gray;
}
.login-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-item {
  padding-bottom: 10px;
  padding-top: 10px;
}
.signup-item {
  padding-top: 10px;
}
.signup-link {
  color: #2f83d6;
}
