.page {
  background-color: lightgray;
  height: 100%;
  width: 100%;
}
.reservations {
  background-color: white;
  position: relative;
}
.schedule-wrapper {
  background-color: white;
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 100;
  overflow-x: scroll;
}
.nav-wrapper {
  z-index: -1;
}
.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  position: absolute;
  overflow-y: visible;
}
.schedule {
  display: flex;
  max-width: 50%;
  min-width: 600px;
}

.navigation {
  display: flex;
  bottom: 0;
  padding-bottom: 1%;
}
.calendar {
}
.header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 10%;
  width: 100%;
  background-color: white;
}

.footer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  background-color: white;
}
